html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body;
	/* Fallback for when there is no custom background color defined. */
}

blockquote,
q {
	quotes: "" "";

	&:after,
	&:before {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
@import "lists";

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}
@import "tables";

.entry-content section {
	padding: 60px 0;
}

.feature-image,
.service-image {
	padding: 60px 0;

	img {
		max-height: 300px;
	}
}

.feature-row {
	padding: 80px 0;
}

// Jumbotron
.jumbotron-content-wrapper {
	width: 100%;
	height: 100%;
}

.jumbotron-content-wrapper h1 {
	@include font-size(2.5);
	font-weight: bold;
}

.jumbotron-content-wrapper p.big {
	@include font-size(1.2);
}

.jumbotron-imagery {
	@media #{$medium} {
		max-width: 600px;
		margin: 100px auto 0;
	}
}

.homepage-jumbotron {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: table;
	width: 100%;
	height: 200px;
}

.jumbotron-content-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 15px;
}

.page .entry-header,
.single .entry-header {
	padding: 50px 0;
	text-align: center;
}

.blog article {
	margin-bottom: 150px;
}

.entry-header-background {
	padding: 100px 0;
	background-size: cover;
	background-position: center;
}

.entry-meta-icon {
	max-width: 21px;
	margin: 0 10px 0 20px;
	vertical-align: middle;
}

.entry-meta-icon:first-of-type {
	margin: 0 10px 0 0;
}

.entry-meta .edit-link {
	margin-left: 20px;
}

// Footer

.site-footer {
	padding: 50px 0;
}

.footer-column-title {
	//text-transform: uppercase;
	margin-bottom: 20px;
}

// Footer menus
.footer-column ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-column ul.menu li {
	margin: 5px 0;
}

// Comments

ol.comment-list {
	margin: 50px 0 100px;
	list-style-type: none;
	padding: 0;
}

ol.comment-list ol {
	list-style-type: none;
}

ol.comment-list .comment {
	margin: 25px 0;
}

.comment-awaiting-moderation,
.comment-content,
.comment-metadata {
	padding-left: 51px;
}

.comment-respond,
.comments-area,
.nav-links {
	margin-top: 100px;
}

.reply {
	margin-left: 51px;
	//border-bottom: 1px solid lighten($color__text-main, 50%)
}

img.avatar.avatar-32.photo {
	margin: 11px 15px 0 0;
}

.comment-metadata {
	@include font-size(0.8);
	margin: -10px 0 10px;
}

a.comment-reply-link,
a.post-edit-link {
	@include font-size(0.8);
	border: 1px solid $color__text-main;
	border-radius: $default_radius;
	padding: 5px 10px 2px;
}

.comment .comment-author img {
	border-radius: 6px;
	max-width: 32px;
}

.comment-content p {
	margin-bottom: 0.5em;
}
