ol,
ul {
	//margin: 0 0 1.5em 3em;
	margin: 10px 10px 30px 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ol,
li > ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
