/*!
Theme Name: Worato App
Theme URI: http://worato.com/
Author: Dewploy
Author URI: http://dewploy.com/
Description: Worato App theme based on underscores
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: worato
Tags:
GitHub Theme URI: https://zarkojovic@bitbucket.org/worato/worato-theme
GitHub Branch:    master

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

_s is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body, button, input, select, textarea { color: #222222; font-family: "Roboto", sans-serif; font-size: 18px; line-height: 1.7; }

h1, h2, h3, h4, h5, h6 { clear: both; font-family: "Lato", sans-serif; padding-bottom: 0.6em; }

h1 { font-size: 54px; }

h2 { font-size: 44px; }

h3 { font-size: 34px; }

h4 { font-size: 24px; }

h5 { font-size: 18px; }

h6 { font-size: 14px; }

section header .pre-heading { text-transform: uppercase; }

p { margin-bottom: 1.5em; word-wrap: break-word; }

cite, dfn, em, i { font-style: italic; }

blockquote { margin: 0 1.5em; }

address { margin: 0 0 1.5em; }

pre { background: #eee; font-family: "Courier 10 Pitch", Courier, monospace; font-size: 16.875px; line-height: 1.6; margin-bottom: 1.6em; max-width: 100%; overflow: auto; padding: 1.6em; }

code, kbd, tt, var { font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; font-size: 16.875px; }

abbr, acronym { border-bottom: 1px dotted #666; cursor: help; }

ins, mark { background: #fff9c0; text-decoration: none; }

big { font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html { box-sizing: border-box; }

*, *:after, *:before { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */ box-sizing: inherit; }

body { background: #fff /* Fallback for when there is no custom background color defined. */ }

blockquote, q { quotes: "" ""; }
blockquote:after, blockquote:before, q:after, q:before { content: ""; }

hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }

ol, ul { margin: 10px 10px 30px 0; }

ul { list-style: disc; }

ol { list-style: decimal; }

li > ol, li > ul { margin-bottom: 0; margin-left: 1.5em; }

dt { font-weight: bold; }

dd { margin: 0 1.5em 1.5em; }

img { height: auto; /* Make sure images are scaled correctly. */ max-width: 100% /* Adhere to container width. */ }

table { margin: 0 0 1.5em; width: 100%; }

.entry-content section { padding: 60px 0; }

.feature-image, .service-image { padding: 60px 0; }
.feature-image img, .service-image img { max-height: 300px; }

.feature-row { padding: 80px 0; }

.jumbotron-content-wrapper { width: 100%; height: 100%; }

.jumbotron-content-wrapper h1 { font-size: 45px; font-weight: bold; }

.jumbotron-content-wrapper p.big { font-size: 21.6px; }

@media (min-width: 992px) { .jumbotron-imagery { max-width: 600px; margin: 100px auto 0; } }

.homepage-jumbotron { background-repeat: no-repeat; background-size: cover; background-position: center; display: table; width: 100%; height: 200px; }

.jumbotron-content-wrapper { display: table-cell; vertical-align: middle; text-align: center; padding: 0 15px; }

.page .entry-header, .single .entry-header { padding: 50px 0; text-align: center; }

.blog article { margin-bottom: 150px; }

.entry-header-background { padding: 100px 0; background-size: cover; background-position: center; }

.entry-meta-icon { max-width: 21px; margin: 0 10px 0 20px; vertical-align: middle; }

.entry-meta-icon:first-of-type { margin: 0 10px 0 0; }

.entry-meta .edit-link { margin-left: 20px; }

.site-footer { padding: 50px 0; }

.footer-column-title { margin-bottom: 20px; }

.footer-column ul.menu { margin: 0; padding: 0; list-style: none; }

.footer-column ul.menu li { margin: 5px 0; }

ol.comment-list { margin: 50px 0 100px; list-style-type: none; padding: 0; }

ol.comment-list ol { list-style-type: none; }

ol.comment-list .comment { margin: 25px 0; }

.comment-awaiting-moderation, .comment-content, .comment-metadata { padding-left: 51px; }

.comment-respond, .comments-area, .nav-links { margin-top: 100px; }

.reply { margin-left: 51px; }

img.avatar.avatar-32.photo { margin: 11px 15px 0 0; }

.comment-metadata { font-size: 14.4px; margin: -10px 0 10px; }

a.comment-reply-link, a.post-edit-link { font-size: 14.4px; border: 1px solid #222222; border-radius: 4px; padding: 5px 10px 2px; }

.comment .comment-author img { border-radius: 6px; max-width: 32px; }

.comment-content p { margin-bottom: 0.5em; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] { border: 0; border-radius: 50px; background: #00cd0d; color: white; font-size: 18px; line-height: 1; padding: .6em 1em .4em; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { background: #00e70f; }
button:active, button:focus, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:active, input[type="submit"]:focus { background: #00e70f; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { color: #666; border: 1px solid #ccc; border-radius: 3px; padding: 3px; }
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus { color: #111; }

select { border: 1px solid #ccc; }

textarea { width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a { color: #222222; }
a:visited { color: #222222; }
a:hover, a:focus, a:active { color: #555555; text-decoration: none; }
a:hover, a:active { outline: 0; }

.entry-content p a { text-decoration: underline; -webkit-text-decoration-style: dotted; -moz-text-decoration-style: dotted; text-decoration-style: dotted; }
.entry-content p a:hover, .entry-content p a:focus, .entry-content p a:active { -webkit-text-decoration-style: solid; -moz-text-decoration-style: solid; text-decoration-style: solid; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-main .comment-navigation, .site-main .post-navigation, .site-main .posts-navigation { margin: 0 0 1.5em; overflow: hidden; }
.comment-navigation .nav-previous, .post-navigation .nav-previous, .posts-navigation .nav-previous { float: left; width: 50%; }
.comment-navigation .nav-next, .post-navigation .nav-next, .posts-navigation .nav-next { float: right; text-align: right; width: 50%; }

nav.navbar { background-color: #ffffff; border: 0; }

.navbar-brand img { height: 30px; }

.navbar-brand { padding: 10px 15px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { background: transparent; }

.navbar-default .navbar-nav > li > a { color: #222222; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { color: #555555; }

li.menu-download { padding: 8px 10px; }
li.menu-download a { padding: 7px; border: 2px solid; border-radius: 5px; }

button.navbar-toggle { border: 0; background-color: transparent; box-shadow: none; }

.navbar-default .navbar-toggle .icon-bar { background-color: #222222; }

#mobile-menu li.menu-item, #primary-menu li.menu-item { text-transform: lowercase; font-family: "Lato", sans-serif; }

#mobile-menu li.menu-item a::after, #primary-menu li.menu-item a::after { content: "."; }

#primary-menu .dropdown-menu { border: 0; }
#primary-menu .dropdown-menu li a { padding-top: 10px; padding-bottom: 10px; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover { background-color: transparent; }

.navbar-home #primary-menu .dropdown-menu { border-radius: 4px; }

.navbar-home.nav-scrolled #primary-menu .dropdown-menu { border-top-left-radius: 0; border-top-right-radius: 0; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #222222; display: block; font-size: 15.75px; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000 /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft { display: inline; float: left; margin-right: 1.5em; }

.alignright { display: inline; float: right; margin-left: 1.5em; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after { content: ""; display: table; table-layout: fixed; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after { clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget { margin: 0 0 1.5em /* Make sure select elements fit in widgets. */ }
.widget select { max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky { display: block; }

.hentry { margin: 0 0 1.5em; }

.byline, .updated:not(.published) { display: none; }

.single .byline, .group-blog .byline { display: inline; }

.page-content, .entry-content, .entry-summary { margin: 1.5em 0 0; }

.page-links { clear: both; margin: 0 0 1.5em; }

#content { padding-top: 50px; }

.blog .site-main, .single-post .site-main { max-width: 700px; margin: 0 auto; padding: 0 15px; }

.blog .site { margin-top: 100px; }

#main { padding-bottom: 100px; }

.blog-archive-featured img, .entry-content img { border-radius: 4px; }

.entry-meta { margin-bottom: 20px; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a { word-wrap: break-word; }

.bypostauthor { display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */ display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer { display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley { border: none; margin-bottom: 0; margin-top: 0; padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object { max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption { margin-bottom: 1.5em; max-width: 100%; }
.wp-caption img[class*="wp-image-"] { display: block; margin-left: auto; margin-right: auto; }
.wp-caption .wp-caption-text { margin: 0.8075em 0; }

.wp-caption-text { text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery { margin-bottom: 1.5em; }

.gallery-item { display: inline-block; text-align: center; vertical-align: top; width: 100%; }
.gallery-columns-2 .gallery-item { max-width: 50%; }
.gallery-columns-3 .gallery-item { max-width: 33.33%; }
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66%; }
.gallery-columns-7 .gallery-item { max-width: 14.28%; }
.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery-columns-9 .gallery-item { max-width: 11.11%; }

.gallery-caption { display: block; }

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Mobile first approach, so no files for mobile screens
--------------------------------------------------------------*/
/* Small devices (tablets and up) */
@media (min-width: 768px) { #mobile-menu { display: none !important; visibility: hidden; } }
/* Medium devices (desktops and up) */
@media (min-width: 992px) { nav.navbar-home { -webkit-transition: all 0.2s ease; transition: all 0.2s ease; padding: 40px 0; background-color: transparent; border: 0; }
  nav.navbar-home.nav-scrolled { padding: inherit; background-color: #ffffff; border: 0; }
  .home #content { padding-top: 0px; } }
/* Large devices (large desktops and up) */

/*# sourceMappingURL=style.css.map */