button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	//border-color: $color__border-button;
	border-radius: 50px;
	background: $color__background-button;
	color: rgba(255, 255, 255, 1);
	@include font-size(1);
	line-height: 1;
	padding: .6em 1em .4em;
	transition: $default_transition;

	&:hover {
		background: lighten($color__background-button, 5%);
	}

	&:active,
	&:focus {
		background: lighten($color__background-button, 5%);
		//border-color: $color__border-button-focus;
	}
}