.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#content {
    padding-top: 50px;
}

.blog .site-main,
.single-post .site-main {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 15px;
}

.blog .site {
	margin-top: 100px;
}

#main {
	padding-bottom: 100px;
}

.blog-archive-featured img,
.entry-content img {
	border-radius: $default_radius;
}

.entry-meta {
	margin-bottom: 20px;
	//@include font-size(0.75);
}