h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__secondary;
	padding-bottom: 0.6em;
}

h1 {
	font-size: 54px;
}

h2 {
	font-size: 44px;
}

h3 {
	font-size: 34px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

section header .pre-heading {
	text-transform: uppercase;
}
