a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		text-decoration: none;
	}
	&:focus {
		//outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.entry-content p a {
	text-decoration: underline;
	text-decoration-style: dotted;
	&:hover,
	&:focus,
	&:active {
		text-decoration-style: solid;
	}
}

