.comment-navigation,
.post-navigation,
.posts-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// Navbar

nav.navbar {
	background-color: #ffffff;
	border: 0;
}

.navbar-brand img {
	height: 30px;
}

.navbar-brand {
	padding: 10px 15px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: $color__text-main;
	transition: $default_transition;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: lighten($color__text-main, 20%);
}

li.menu-download {
	padding: 8px 10px;

	a {
		padding: 7px;
		border: 2px solid;
		border-radius: 5px;
	}
}

// Mobile menu button styling
button.navbar-toggle {
	border: 0;
	background-color: transparent;
	box-shadow: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $color__text-main;
}

#mobile-menu li.menu-item,
#primary-menu li.menu-item {
	text-transform: lowercase;
	font-family: $font__secondary;
}

#mobile-menu li.menu-item a::after,
#primary-menu li.menu-item a::after {
	content: ".";
}

#primary-menu .dropdown-menu {
	border: 0;

	& li a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

//Overrides bootstrap navbar menu items highlight on hover
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	background-color: transparent;
}

//Rounded dropdown-menu on homepage only
.navbar-home #primary-menu .dropdown-menu {
	border-radius: 4px;
}

.navbar-home.nav-scrolled #primary-menu .dropdown-menu {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
