$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #00cd0d;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #222222;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #222222;
$color__link-visited: #222222;
$color__link-hover: lighten($color__link, 20%);
$color__text-main: #222222;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
