$size__site-main: 100%;
$size__site-sidebar: 25%;

$screen__small-break: 768px;
$screen__medium-break: 992px;
$screen__large-break: 1200px;

$small: "(min-width: #{$screen__small-break})";
$medium: "(min-width: #{$screen__medium-break})";
$large: "(min-width: #{$screen__large-break})";
