//Navbar
nav.navbar-home {
	transition: $default_transition;
	padding: 40px 0;
	background-color: transparent;
	border: 0;
}

nav.navbar-home.nav-scrolled {
	padding: inherit;
	background-color: #ffffff;
	border: 0;
}

// Home only settings
.home #content {
    padding-top: 0px;
}
